<p><b>N&uacute;mero total de preguntas:</b> <%= length %></p>
<p><b>N&uacute;mero total de comentarios:</b> <%= totalcomments %></p>
<p><b>N&uacute;mero medio de comentarios por pregunta:</b> <%= avg %></p>
<p><b>N&uacute;mero de preguntas sin comentarios:</b> <%= qnocomments %></p>
<p><b>N&uacute;mero de preguntas con comentarios:</b> <%= qcomments %></p>